ol
 for Thanks for the Registeration ! You will be contacted Shortly !!
 ul
 a(href='/about') Registered Users
 
 each user in users
  li NAME : #{user.name} , AGE : #{user.age} ,Email-ID :  #{user._id}
